<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e76817a8-fd0a-48a6-8ab3-179f001e72b4" Alias="[BlockList] Image Links" Level="1">
  <Info>
    <Name>[BlockList] Image Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "a05fa6ce-2335-4b8c-b5b5-8bf15f80140e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title != '' ? title : 'Image Link' + $index}} {{$settings.hide == '1' ? '[HIDDEN' : ''}}",
      "settingsElementTypeKey": "ed39c84c-3e43-497b-ab71-4e0551ca486b",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>