<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ce3ebd07-51ce-44c4-8ec3-fb7698adb20c" Alias="[BlockList] Accordion List" Level="1">
  <Info>
    <Name>[BlockList] Accordion List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "2ede3923-15f1-435c-9633-4b37c79187d1",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' ? title : 'Accordion Item' + $index}} {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "30b8d98a-0152-41bb-a82a-9893ac50f72d",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>