<?xml version="1.0" encoding="utf-8"?>
<DataType Key="21305f4c-da95-46e6-aac3-4d7d39a6ee44" Alias="[BlockList] Main Content" Level="1">
  <Info>
    <Name>[BlockList] Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "c106b26d-6c48-4df1-9d30-768e0808257b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{'Rich Text ' +$index}} {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "0ba1ca10-77cc-470f-bac9-3ba65b73eced",
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "91001079-60e1-4cc1-a3d6-ebcd82149a8e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{'Image Row '  + $index}} {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "0fdc60f5-f49e-49b1-b2de-0978e2a8d542",
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "466b171f-829f-40ca-a26e-d2e52180f4f4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title != '' ? title : 'Image Link' + $index}} {{$settings.hide == '1' ? '[HIDDEN' : ''}}",
      "settingsElementTypeKey": "6a5027e5-0c7c-43c7-bf5c-4e350a3fd589",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "b933e79e-d7fb-4af9-b3ac-285c0a3c6400",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' ? title : 'Accordion Row' + $index}} {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "73680e1e-fba8-4ac8-9010-7a032e256157",
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "a52246af-8b46-4b57-acf0-0de4ae1c460a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Quote ' + $index }} {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "cd2f9305-66b7-4dfd-a584-cfc80b2bd380",
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "05a4bbff-06d0-41a1-a3c2-5dea20632f2b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{'Carousel ' + $index}} {{$settings.hide == '1' ? '[HIDDEN' : ''}}",
      "settingsElementTypeKey": "ef5a2b95-304c-4a60-a673-afc2201abfca",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>