<?xml version="1.0" encoding="utf-8"?>
<Content Key="7404a069-0be2-48b9-a26f-3c7d8563e9e5" Alias="Blog" Level="2">
  <Info>
    <Parent Key="c708c4dc-4750-4748-9314-9ee5a43bebba">Company</Parent>
    <Path>/Company/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>articleListPage</ContentType>
    <CreateDate>2023-08-19T14:06:39</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ad4016f7-baa2-49f0-8a97-558a11800f72">ArticleListPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "4d8d99b3-b87e-444a-afa0-abbda3e8fb6d",
    "mediaKey": "a63f525e-f208-42d3-ad8c-aee8d479d05a"
  }
]]]></Value>
    </heroImage>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Post]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>