<?xml version="1.0" encoding="utf-8"?>
<Content Key="c708c4dc-4750-4748-9314-9ee5a43bebba" Alias="Company" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Company</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-08-19T08:40:09</CreateDate>
    <NodeName Default="Company" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cfbf411c-65b2-452e-aec9-9d838f225e98">HomePage</Template>
  </Info>
  <Properties>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "network": "instagram",
    "name": "Instagram",
    "url": "https://instagram.com/"
  },
  {
    "network": "twitter",
    "name": "Twitter",
    "url": "https://twitter.com/"
  },
  {
    "network": "youtube",
    "name": "YouTube",
    "url": "https://youtube.com/"
  },
  {
    "network": "linkedin",
    "name": "LinkedIn",
    "url": "https://linkedin.com/in/"
  }
]]]></Value>
    </footerSocialLinks>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "db362ee1-8d08-483b-8704-8c672dfb74f6",
    "mediaKey": "6deb5a47-c5be-428a-8287-7cd31c5ac887"
  }
]]]></Value>
    </heroImage>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "name": "Home",
    "udi": "umb://document/c708c4dc4750474893149ee5a43bebba"
  },
  {
    "name": "About",
    "udi": "umb://document/4e4069009d984c6c9f784f47f0e7908e"
  },
  {
    "name": "Blog",
    "target": "_blank",
    "udi": "umb://document/7404a0690be248b9a26f3c7d8563e9e5"
  },
  {
    "name": "Contact",
    "udi": "umb://document/1aa6253098f74d5fafde55b27a8eb036"
  }
]]]></Value>
    </mainNavigation>
    <subtitle>
      <Value><![CDATA[A Sample Website using Umbraco CMS]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Company]]></Value>
    </title>
  </Properties>
</Content>