<?xml version="1.0" encoding="utf-8"?>
<Content Key="1aa62530-98f7-4d5f-afde-55b27a8eb036" Alias="Contact" Level="2">
  <Info>
    <Parent Key="c708c4dc-4750-4748-9314-9ee5a43bebba">Company</Parent>
    <Path>/Company/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2023-08-19T14:06:58</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="61261e4a-f332-4a41-9382-e6656923e839">ContactPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "6cb2ea7b-4e32-439d-9a33-1c655a7ac4e7",
    "mediaKey": "ce51d362-323e-4517-901a-b026ce63ced1"
  }
]]]></Value>
    </heroImage>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>