<?xml version="1.0" encoding="utf-8"?>
<Media Key="b032f73b-d002-478d-a7dc-b9bf2a805abc" Alias="About Bg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutBg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-19T13:41:54</CreateDate>
    <NodeName Default="About Bg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hx1dfmac/about-bg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>