<?xml version="1.0" encoding="utf-8"?>
<Media Key="6deb5a47-c5be-428a-8287-7cd31c5ac887" Alias="Home Bg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeBg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-19T12:50:19</CreateDate>
    <NodeName Default="Home Bg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ifnow1n4/home-bg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>