<?xml version="1.0" encoding="utf-8"?>
<Media Key="a63f525e-f208-42d3-ad8c-aee8d479d05a" Alias="Post Bg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PostBg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-19T14:14:08</CreateDate>
    <NodeName Default="Post Bg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lbjd5jqi/post-bg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>