<?xml version="1.0" encoding="utf-8"?>
<Media Key="4fcd6fb9-1586-4c19-aee2-70503e828aa0" Alias="Post Sample Image (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PostSampleImage1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-19T21:00:57</CreateDate>
    <NodeName Default="Post Sample Image (1)" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/x3xn0t2g/post-sample-image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>