<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9c2c6e3d-7ea7-4b71-9b98-3f13f13cc9cc" Alias="articleListPage" Level="2">
  <Info>
    <Name>Article List Page</Name>
    <Icon>icon-thumbnail-list color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A list o articles or blogs</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b0dcee5f-9da6-4a23-acf1-6c808b39ff33">contentProperties</Composition>
      <Composition Key="0f8f772f-c67f-4833-a761-f6a599a03d82">headerProperties</Composition>
      <Composition Key="d68d16db-07cb-420f-88f8-00c4a295dd9d">visibility</Composition>
    </Compositions>
    <DefaultTemplate>ArticleListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ad4016f7-baa2-49f0-8a97-558a11800f72">ArticleListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>