<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fd31ecca-2bf9-4eb8-9a7b-ebf003f772d2" Alias="carouselItem" Level="4">
  <Info>
    <Name>Carousel Item</Name>
    <Icon>icon-multiple-windows color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="f0af02dc-5162-403a-9476-3ac7d023b19f">descriptionProperty</Composition>
      <Composition Key="3cd139e1-251e-4924-9420-340defe1c5cb">imageProperty</Composition>
      <Composition Key="49adbad7-75b9-42a9-8a67-87a39302f2b7">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>