<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f93cc6b2-f4a5-4f89-89d3-072320f4f7f4" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Content Page for Website</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b0dcee5f-9da6-4a23-acf1-6c808b39ff33">contentProperties</Composition>
      <Composition Key="0f8f772f-c67f-4833-a761-f6a599a03d82">headerProperties</Composition>
      <Composition Key="d68d16db-07cb-420f-88f8-00c4a295dd9d">visibility</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a66a2cd9-ff0e-4617-998a-ea74f2b47097">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>