<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6f943687-305a-48d4-845c-e9bb903b2c73" Alias="contactPage" Level="2">
  <Info>
    <Name>Contact Page</Name>
    <Icon>icon-old-phone color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>contact details of the company</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b0dcee5f-9da6-4a23-acf1-6c808b39ff33">contentProperties</Composition>
      <Composition Key="0f8f772f-c67f-4833-a761-f6a599a03d82">headerProperties</Composition>
      <Composition Key="d68d16db-07cb-420f-88f8-00c4a295dd9d">visibility</Composition>
    </Compositions>
    <DefaultTemplate>ContactPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="61261e4a-f332-4a41-9382-e6656923e839">ContactPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>