<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="466b171f-829f-40ca-a26e-d2e52180f4f4" Alias="featuredItemsRow" Level="4">
  <Info>
    <Name>Featured Items Row</Name>
    <Icon>icon-playing-cards color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="f0af02dc-5162-403a-9476-3ac7d023b19f">descriptionProperty</Composition>
      <Composition Key="49adbad7-75b9-42a9-8a67-87a39302f2b7">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>78f498f0-6d9c-430f-9835-dbd6c23000ef</Key>
      <Name>Featured Items</Name>
      <Alias>featuredItems</Alias>
      <Definition>e76817a8-fd0a-48a6-8ab3-179f001e72b4</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose feature image]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a4709ee2-a883-4703-aabf-5212f276a97e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>