<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="42cce38f-8473-47c9-b59b-9316e48d5f38" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>this is a home page controller</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="47eb4149-6a93-4850-83dc-419783d4c56d">footerProperties</Composition>
      <Composition Key="0f8f772f-c67f-4833-a761-f6a599a03d82">headerProperties</Composition>
      <Composition Key="b7f0c20f-6f6d-4578-ad9c-470bd3ec556e">siteNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cfbf411c-65b2-452e-aec9-9d838f225e98">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f93cc6b2-f4a5-4f89-89d3-072320f4f7f4" SortOrder="0">contentPage</ContentType>
    <ContentType Key="9c2c6e3d-7ea7-4b71-9b98-3f13f13cc9cc" SortOrder="1">articleListPage</ContentType>
    <ContentType Key="6f943687-305a-48d4-845c-e9bb903b2c73" SortOrder="2">contactPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>